doctype html
html
    head
        title= title
        link(rel='stylesheet', href='lib/bootstrap/dist/css/bootstrap.min.css')
        link(rel='stylesheet', href='css/styles.css')
    body
        block content
        script(src='lib/bootstrap/dist/js/bootstrap.bundle.min.js')
        script(src='lib/waypoints/lib/noframework.waypoints.min.js')
        block scripts
