doctype html
html(lang='es') 
    head
        block head
        block styles
    body
        block content
        script(src='lib/bootstrap/dist/js/bootstrap.bundle.min.js')
        block scripts
